//Scss code here
h1{
    @media screen and (max-width: 480px) {
       font-size: 20px;
    }
}

p{
    @media screen and (max-width: 480px) {
      font-size: 15px;
    }
}

html {
    scroll-behavior: smooth;
}

body{
    margin: auto;
    background: url(../images/background.png) top / cover no-repeat;
}

a{
    transition-duration: 150ms;
    border-radius: 50px;
    padding: 10px 20px;
    &.red{
        color: #ffff;
        background-color: #E31937;
    }
    &.blue{
        color: #ffff;
        background-color: #0B4361;
    }
    &:hover{
        text-decoration: none;
        opacity: 0.8;
    }
}

section#main{
    margin-top: 40px;
    div.main-title{
        text-align: center;
    }
        div.button{
            text-align: center;
            margin-top: 12px;
            div.btn{
                margin: 10px 5px;
            }
        }
}

section#video{
    div.video{
        display: flex;
        justify-content: center;
        img{
            width: 30%;
            margin-top: 6%;
            @media screen and (max-width: 480px) {
                width: 70%;
            }
        }
    }
    
}

section#camp{
    position: relative;
    margin-top: 5%;
    margin-bottom: 20px;
    div.camp-content{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        div.left{
            width: calc(45% - 20px);
            text-align: center;
        }
        div.right{
            width: calc(45% - 20px);
            padding: 80px;
        }
        @media screen and (max-width: 480px) {
            div.left, div.right{
                width: 100%;
                padding: 20px;
            }
        }
    }
}

section{
    div.camp{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-bottom: 6%;
        margin-top: 35px;
        @media screen and (max-width: 480px) {
            margin-top: 0px;
        }
        div.left{
            width: calc(50% - 0px);
            padding-left: 20em;
        }
        div.right{
            width: calc(50% - 20px);
            padding-left: 60px;
           
        }
        @media screen and (max-width: 480px) {
            div.left, div.right{
                width: 100%;
                padding: 20px;
            }
        }
    }
}

section#bonita{
    div.btn-content{
        display: flex;
        justify-content: center;
        margin-bottom: 75px;
        div.btn1{
            a{
                color: #ffff;
                text-align: center;
                background-color: #E31937;
                border-radius: 50px;
                padding: 10px 20px;
                }
                img{
                    width: 10%;
                }
        }
    }
    div.main{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 120px;
        @media screen and (max-width: 480px) {
         margin-bottom: 0px;
        }
        div.left{
            width: calc(20% - 30px);
            margin-left: 60px;
            div.picture{
                img{
                    width: 95%;
                }
            }
        }
        div.right{
            width: calc(40% - 95px);
            margin-bottom: 70px;
            a{
                color: #E31937;
            }
            ul{
                padding-left: 0;
                li{
                    list-style-type: none;
                }
            }
        }
        @media screen and (max-width: 480px) {
            div.left, div.right{
                width: 100%;
                padding: 20px;
            }
        }
    }
    div.image{
        display: flex;
        justify-content: center;
        img{
            width: 40%;
            @media screen and (max-width: 480px) {
                    width: 70%;
            }
        }
    }
}
