@media screen and (max-width: 480px) {
  h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  p {
    font-size: 15px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: auto;
  background: url(../images/background.png) top/cover no-repeat;
}

a {
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
  border-radius: 50px;
  padding: 10px 20px;
}

a.red {
  color: #ffff;
  background-color: #E31937;
}

a.blue {
  color: #ffff;
  background-color: #0B4361;
}

a:hover {
  text-decoration: none;
  opacity: 0.8;
}

section#main {
  margin-top: 40px;
}

section#main div.main-title {
  text-align: center;
}

section#main div.button {
  text-align: center;
  margin-top: 12px;
}

section#main div.button div.btn {
  margin: 10px 5px;
}

section#video div.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#video div.video img {
  width: 30%;
  margin-top: 6%;
}

@media screen and (max-width: 480px) {
  section#video div.video img {
    width: 70%;
  }
}

section#camp {
  position: relative;
  margin-top: 5%;
  margin-bottom: 20px;
}

section#camp div.camp-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section#camp div.camp-content div.left {
  width: calc(45% - 20px);
  text-align: center;
}

section#camp div.camp-content div.right {
  width: calc(45% - 20px);
  padding: 80px;
}

@media screen and (max-width: 480px) {
  section#camp div.camp-content div.left, section#camp div.camp-content div.right {
    width: 100%;
    padding: 20px;
  }
}

section div.camp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 6%;
  margin-top: 35px;
}

@media screen and (max-width: 480px) {
  section div.camp {
    margin-top: 0px;
  }
}

section div.camp div.left {
  width: calc(50% - 0px);
  padding-left: 20em;
}

section div.camp div.right {
  width: calc(50% - 20px);
  padding-left: 60px;
}

@media screen and (max-width: 480px) {
  section div.camp div.left, section div.camp div.right {
    width: 100%;
    padding: 20px;
  }
}

section#bonita div.btn-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 75px;
}

section#bonita div.btn-content div.btn1 a {
  color: #ffff;
  text-align: center;
  background-color: #E31937;
  border-radius: 50px;
  padding: 10px 20px;
}

section#bonita div.btn-content div.btn1 img {
  width: 10%;
}

section#bonita div.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 120px;
}

@media screen and (max-width: 480px) {
  section#bonita div.main {
    margin-bottom: 0px;
  }
}

section#bonita div.main div.left {
  width: calc(20% - 30px);
  margin-left: 60px;
}

section#bonita div.main div.left div.picture img {
  width: 95%;
}

section#bonita div.main div.right {
  width: calc(40% - 95px);
  margin-bottom: 70px;
}

section#bonita div.main div.right a {
  color: #E31937;
}

section#bonita div.main div.right ul {
  padding-left: 0;
}

section#bonita div.main div.right ul li {
  list-style-type: none;
}

@media screen and (max-width: 480px) {
  section#bonita div.main div.left, section#bonita div.main div.right {
    width: 100%;
    padding: 20px;
  }
}

section#bonita div.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#bonita div.image img {
  width: 40%;
}

@media screen and (max-width: 480px) {
  section#bonita div.image img {
    width: 70%;
  }
}
/*# sourceMappingURL=landingpage.css.map */